section.steps-section
  .wrapper
    .steps-section__container
      img.steps-section__icon-1(src="images/icon-hexagon.svg" loading="lazy" width="500" height="441" alt="icon")
      img.steps-section__icon-2(src="images/icon-hexagon.svg" loading="lazy" width="500" height="441" alt="icon")
      img.steps-section__icon-line(src="images/steps-section-icon-line.svg" loading="lazy" width="1920" height="402" alt="icon")
      h2.steps-section__title.font-w-bold.font-s-40
        | Как будет проходить 
        span.color-blue открытие 
        | вашей компании 
        br.no-br
        | или 
        span.color-blue основные этапы 
        | совместной работы
      .swiper-bullet
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 1 этап
            .steps-section__card-text.font-s-24
              | Заключение договора
              br
              | франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 2 этап
            .steps-section__card-text.font-s-24
              | Согласование проектной
              br
              | документации
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 3 этап
            .steps-section__card-text.font-s-24
              | Поиск подходящего
              br
              | помещения
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 4 этап
            .steps-section__card-text.font-s-24
              | Заключение договора
              br
              | аренды
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 5 этап
            .steps-section__card-text.font-s-24
              | Доставка и монтаж
              br
              | приобретенного
              br
              | оборудования, мебели
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 6 этап
            .steps-section__card-text.font-s-24
              | Обучение
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 7 этап
            .steps-section__card-text.font-s-24
              | Официальное открытие
          .steps-section__card.swiper-slide
            .steps-section__card-title.font-w-bold.font-s-32 8 этап
            .steps-section__card-text.font-s-24
              | Постоянная помощь
              br
              | и поддержка партнеров
        .bullet-pagination
      .steps-section__bottom
        img.steps-section__bottom-img(src="images/steps-section-bottom-img.png" loading="lazy" width="722" height="733" alt="image")
        .font-w-bold.font-s-24
          | Работаем строго по 
          br.no-br
          | договору, в котором 
          br.no-br
          | описаны наши 
          br.no-br
          span.color-blue обязанности 
          | и все 
          br.no-br
          span.color-blue условия сотрудничества
        .steps-section__bottom-right
          button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") Скачать <br> пример договора
